body h4 {
  padding-top: 10px;
  font-weight: 600;
}

.imgcontainer {
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
}

#clickimg {
  padding: 5%;
  background-color: rgba(132, 190, 206, 0.5);
  border-radius: 10px;
}

.container,
.navbar {
  background-color: #d3d8db;
  font-family: "metropolis.thin";
  justify-content: center;
  align-items: center;
  padding-top: 10%;
}

.mainback {
  background-color: #d3d8db;
  align-items: center;
}

.navbar-custom {
  background-color: #083131;
}

.btn-custom {
  background-color: #083131;
}

.imagestatic {
  position: absolute;
}

.imagestatic:hover {
  opacity: 0;
}

.imagestatic2 {
  position: absolute;
}

.imagestatic2:hover {
  opacity: 0;
}

@font-face {
  font-family: "metropolis.thin";
  src: url("../fonts/metropolis.thin.otf") format("opentype");
}
