body h4 {
  padding-top: 10px;
  font-weight: 600;
}

.imgcontainer {
  position: relative;
}

.container {
  display: flex;
  flex-direction: row;
}

.container,
.navbar {
  background-color: #f0eff4;
  font-family: "metropolis.thin";
}

.mainback {
  background-color: #f0eff4;
}

.navbar-custom {
  background-color: #6b61ff;
}

.btn-custom {
  background-color: #6b61ff;
}

.imagestatic {
  position: absolute;
}

.imagestatic:hover {
  opacity: 0;
}

.imagestatic2 {
  position: absolute;
}

.imagestatic2:hover {
  opacity: 0;
}

@font-face {
  font-family: "metropolis.thin";
  src: url("fonts/metropolis.thin.otf") format("opentype");
}
